/* CSS variables ------------------------------------------------- */

:root {
    --primary-color: #4567b7; 
    --secondary-color: #ffb700; 
    --background-color: #f7f7f7; 
    --text-color: #333;
    --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
  }
  
  body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    scroll-behavior: smooth;
  }
  
  header {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
  }
  
  .nav {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: var(--box-shadow);
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    color: #f1f8f6;
    text-decoration: none;
    transition: color var(--transition-duration) ease;
  }
  
  .nav a:hover {
    color: #00ffc8;
  }
  
  .header-content {
    text-align: center;
    padding: 1rem;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif; 
  }
  
  .hero-container {
    background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    background-size: 100% 300px;
    background-position: 0% 100%;
    max-width: 84%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    transition: background-color var(--transition-duration) ease;
  }
  
  .hero-container:hover {
    background-color: var(--secondary-color);
  }
  
  .commands-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
  }
  
  .commands-table th,
  .commands-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .commands-table th {
    background-color: var(--background-color);
    transition: background-color var(--transition-duration) ease;
  }
  
  .commands-table th:hover {
    background-color: var(--secondary-color);
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    box-shadow: var(--box-shadow);
    transition: box-shadow var(--transition-duration) ease; 
  }
  
  .profile-pic:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li:before {
    content: "\2022";
    margin-right: 10px;
    color: var(--text-color);
  }
  
  blockquote {
    background-color: var(--background-color);
    padding: 20px;
    border-left: 5px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    font-size: 16px;
    font-family: 'Lato', sans-serif; 
  }
  
  blockquote cite {
    font-size: 14px;
    color: var(--text-color);
  }
  
  footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    box-shadow: var(--box-shadow);
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .footer-links a:hover {
    color: var(--secondary-color);
  }
  
  .footer-copyright {
    margin-top: 20px;
  }
  
  .footer-copyright p {
    margin-bottom: 0;
    font-size: 14px;
    color: #020202;
  }

  
  @media (max-width: 768px) {
   .nav,
   .hero-container {
      width: 100%;
    }
  
   
   .nav ul {
      flex-wrap: wrap;
    }
  
    
   .nav li {
      margin-right: 10px;
      padding: 10px;
    }
  

   .hero-container {
      height: auto;
    }
  

   .commands-table {
      overflow-x: auto;
    }
  
    
   .profile-pic {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  

    blockquote {
      font-size: 14px;
    }

    section {
      margin-bottom: 20px;
    }
  

    footer {
      padding: 20px;
    }
  }
  

  .hero-container {
    transition: background-color var(--transition-duration) ease;
  }
  
  .hero-container:hover {
    background-color: var(--secondary-color);
  }
  
  .nav a {
    transition: color var(--transition-duration) ease;
  }
  
  .nav a:hover {
    color: var(--secondary-color);
  }
  
  .commands-table th {
    transition: background-color var(--transition-duration) ease;
  }
  
  .commands-table th:hover {
    background-color: var(--secondary-color);
  }
  
  .profile-pic {
    transition: box-shadow var(--transition-duration) ease;
  }
  
  .profile-pic:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  .testimonials {
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
  }
  
  .testimonials blockquote {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .testimonials cite {
    font-size: 14px;
    color: var(--text-color);
    }
